@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgba(128, 128, 128, 0.39);
}

div.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

div.page {
  width: 100vw;
  height: 100vh;
  color: #1f2338;
  overflow-x: hidden;
}

div.container {
  padding: 30px;
}

body {
  font-family: "Quicksand", sans-serif;
}

.w-100 {
  width: 100%;
}

a {
  text-decoration: none;
}

div.left {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

div.right {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

div.page {
  position: relative;
}

.flex {
  display: flex;
}

.none {
  display: none;
}
.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.text-secondary {
  color: #525252;
}

.text-primary {
  color: #1976d2;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

p {
  font-weight: 500;
}

div.post-content > * {
  margin-top: 20px;
}

div.post-reactions {
  margin-top: 20px;
}

div.post-comments {
  background-color: #52525243;
  padding: 10px;
  border-radius: 10px;
  margin-top: 18px;
}
